/****************/
/* COLOUR VARS */
/**************/
$by-green: #96ca2d;
$by-dark: #282828;
$by-white: #edf7f2;


/****************/
/* PADDING VARS*/
/**************/
$pad: 15px;


/****************/
/* GLOBAL      */
/**************/
body, div.body{
	position:relative;
	background: $by-white;
	color: $by-dark;
	height: 100%;
	min-height: 100%;
}

h3 a{
	color: $by-dark;
}

div.nav-bar{
	background: $by-dark;
	color: $by-green;
	height: $pad*5;
	text-align: center;
	margin-bottom:0;
	border-top: 3px solid $by-green;
	.icon{
		position: absolute;
		float:right;
		top: $pad;
		right: 0px;
	}
	.container{
		position: relative;
		height: 100%;
	}
	img.logo{
		height: inherit;
		width: auto;
	}
}
div#__next{
	height: 100%;
}
div.container.main{
	border-right: 3px solid $by-green;
	border-left: 3px solid $by-green;
	background: white;
	min-height: 100%;
	padding: $pad;
}
.ui.card, .ui.cards>.card {
	width: 262px;
	}
span.higlight{
	color: $by-green;
}
p.link-right{
	text-align: right;
	clear: both;
	margin-top:15px;
}